.gameContainer {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-count: 2;
  column-gap: 50px;
  padding: 18px;
  background-color: #ff82b2;
}

.str-chat__main-panel {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  width: 320px;
  height: 360px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.str-chat__list {
  background-color: #fff;
  flex: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 5px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.str-chat__list ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
}

.str-chat__list li {
  list-style-type: none;
  border-radius: 6px;
}

.str-chat__list
.str-chat__message-simple-status {
  display: none;
}

.str-chat__list
.str-chat__avatar {
  display: none;
}

.str-chat__message-text-inner {
  font-size: 15px;
  font-family: 'Inter', system-ui, sans-serif;
}

.str-chat__message-data {
  margin-bottom: 20px;
}

.str-chat__message-data span {
  margin-left: 5px;
}

.str-chat__message-data time {
  margin-left: 5px;
}

.str-chat__message-simpleactions {
  width: 100%;
  padding-left: 5px;
  margin-top: 5px;
}
.str-chat__message-simple__actions__action--reactions {
  display: flex;
  align-items: center;
  width: fit-content;
  background: #ffffff;
  border: 1px solid #e9e9ea;
  box-sizing: border-box;
  border-radius: 50vw;
  padding: 6px 6px 4px 6px;
  z-index: 3;
  cursor: pointer;
}

.str-chat__message-reactions-list {
  display: flex;
}

.str-chat__reaction-list--counter {
  display: none;
}
.str-chat__reaction-list--reverse button {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.str-chat__message-reactions-list-item {
  margin-left: 10px;
  border: none;
  border-radius: 50vw;
  width: 30px;
  height: 30px;
}
.str-chat__message-reactions-list-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.emoji-mart-emoji-custom span {
  height: 15px !important;
  width: 15px !important;
}
